

*
  margin: 0
  padding: 0

body
  background-color: #ffffff

.project-wrapper
  width: 2000px
  border: 4px solid red
  margin: 0 auto
  background-color: white

.block1-wrapper
  background-color: #0A192C
  border: 1px solid #0A192C
  position: relative
  &__layer9 
    position: absolute 
    top: 0
    animation: rrr 20s infinite linear  
  &__layer8 
    position: absolute 
    top: 0
    animation: eee 20s infinite linear
  &__layer7 
    position: absolute 
    top: 0
    animation: www 20s infinite linear
  &__layer1-2-3Super
    position: absolute
    top: 0
    animation: qqq 20s infinite linear  
  &__layer1-2-3
    position: relative
    img
      position: absolute
    .page111
      top: 156px
    .page3
      left: 1300px 
      top: 420px 
  
.block1-up
  display: flex
  flex-wrap: wrap
  align-items: baseline
  justify-content: center
  color: white
  margin-top: 48px
  .warszawa
    margin-left: 60px
  .contacts
    display: flex
    margin-left: 60px

.block1-center
  display: flex
  justify-content: center
  margin-top: 189px
  margin-bottom: 25px

.fakeButton
  width: 314px
  height: 80px
  border-radius: 10px
  background-color: #ffbf00
  margin: 0 auto
  margin-bottom: 280px
  color: #0a192c
  font-family: "TT Norms"
  font-size: 16px
  font-weight: 700
  line-height: 80px
  text-transform: uppercase
  letter-spacing: 1.86px
  text-align: center


@keyframes qqq
  0%, 25%, 100%
    opacity: 0
  12%
    opacity: 1
  
@keyframes www
  0%, 25%, 50%, 100%
    opacity: 0
  37%
    opacity: 1  
 
@keyframes eee
  0%, 50%, 75%, 100%
    opacity: 0
  62%
    opacity: 1  

@keyframes rrr
  0%, 50%, 75%, 100%
    opacity: 0
  87%
    opacity: 1




.block2-wrapper
  width: 1175px
  height: 683px  
  border: 2px solid green
  margin-left: auto
  margin-right: auto
  margin-top: 111px
  display: grid
  grid-template-areas: "h h h"  "img1 img2 img3" "f f f"
  grid-template-columns: 1fr 1fr 1fr
  grid-template-rows: 1fr 1fr 1fr
  grid-gap: 25px
  &__header
    color: #000000
    font-family: "TT Norms"
    font-size: 45px
    font-weight: 700
    text-transform: uppercase
    grid-area: h
    justify-self: center
    align-self: top
  &__step1
    width: 375px
    height: 275px
    border-radius: 10px
    background-color: #f4f4f4 
    grid-area: img1
    position: relative
    &:after 
      content: "Находите нужное авто"
      color: #000000
      font-family: "TT Norms"
      font-size: 18px
      font-weight: 800
      line-height: 13.49px
      position: absolute
      top: 275+48px
      left: 93px
    &:before 
      content: "1" 
      position: absolute
      width: 45px
      height: 45px
      background-color: #ffbf00
      border-radius: 50%
      line-height: 45px
      text-align: center
      top: -22px
      right: 30px
      font-weight: 900  
  &__step2
    width: 375px
    height: 275px
    border-radius: 10px
    background-color: #f4f4f4
    grid-area: img2
    position: relative
    &:after 
      content: "Вместе выезжаем и покупаем его"
      color: #000000
      font-family: "TT Norms"
      font-size: 18px
      font-weight: 800
      line-height: 13.49px
      position: absolute
      top: 275+48px
      left: 48px
    &:before 
      content: "2" 
      position: absolute
      width: 45px
      height: 45px
      background-color: #ffbf00
      border-radius: 50%
      line-height: 45px
      text-align: center
      top: -22px
      right: 30px
      font-weight: 900
  &__step3
    width: 375px
    height: 275px
    border-radius: 10px
    background-color: #f4f4f4
    grid-area: img3
    position: relative
    &:after 
      content: "В этот же день подписываем договор о продаже авто на части"
      color: #000000
      font-family: "TT Norms"
      font-size: 18px
      font-weight: 800
      line-height: 13.49px
      position: absolute
      top: 275+48px
      left: 33px
      text-align: center
      margin-right: 33px
    &:before 
      content: "3" 
      position: absolute
      width: 45px
      height: 45px
      background-color: #ffbf00
      border-radius: 50%
      line-height: 45px
      text-align: center
      top: -22px
      right: 30px
      font-weight: 900  
  &__footer
    color: #000000
    font-family: "TT Norms"
    font-size: 30px
    font-weight: 700
    line-height: 38.23px 
    grid-area: f 
    justify-self: center
    align-self: end
    text-align: center
    
  

// .block3-wrapper
//   width: 1175px
//   height: 607px 
//   border: 2px solid green
//   margin-right: auto
//   margin-left: auto
//   margin-top: 111px
//   &__header
    
// .dashed
//     width: 67px
//     height: 5px
//     background-color: #ffbf00
//     margin-right: auto
//     margin-left: auto
//     margin-top: 50px
//     position: relative
//     border-radius: 5px
//     &:after
//       content: ""
//       width: 7px
//       height: 5px
//       background-color: white
//       position: absolute
//       left: 50%
//     &:before
//       content: ""
//       width: 7px
//       height: 5px
//       background-color: white
//       position: absolute
//       left: 80%





















          












  































































