html
  font-size: 10px

*
  margin: 0
  padding: 0

body
  background-color: #ffffff

.project-wrapper
  width: 100%
  margin: 0 auto
  background-color: white
  position: relative
  font-family: 'Rowdies', cursive

@media (min-width: 2000px)
  .project-wrapper
    width: 2000px
  
@import "block/common/_block-wrapper-with-dark-background"
@import "block/common/_logotype"
@import "block/common/_info"
@import "block/common/_social-network-container"
@import "block/common/_social-network"
@import "block/common/_big-button"
@import "block/common/_header-manyBlocks"
@import "block/common/_block-wrapper-with-little-size"
@import "block/layer1/_layer1" 
@import "block/Layer2/_layer2" 
@import "block/Layer3/_layer3" 
@import "block/Layer4/_layer4" 
@import "block/Layer5/_layer5"


 











          












  































































